@page "/chats/{chatId:guid}"
@using ExpressMessenger.BlazorWebApp.Apis.Chatting
@using ExpressMessenger.BlazorWebApp.Authentication
@using ExpressMessenger.SharedKernel.ApiContracts.Chatting.GetChat
@inject ITokenManager TokenManager;
@inject IChattingApi ChattingApi

<h3>@ChatName</h3>

@code {
    private GetChatResponse.ChatModel? _chat;

    private string ChatName => string.Join(
        ", ",
        _chat?.Companions.Select(companion => companion.DisplayNumber) ?? Array.Empty<uint>());
    
    [Parameter]
    public Guid ChatId { get; init; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
        {
            return;
        }
        
        (bool success, string? accessToken) = await TokenManager.GetAccessToken();
        
        if (!success || accessToken is null)
        {
            throw new Exception("Something went wrong");
        }
        
        GetChatResponse? chat = await ChattingApi.GetChat(TokenManager.ToBearer(accessToken), ChatId);
        
        if (chat is null)
        {
            throw new Exception("Something went wrong");
        }
        
        _chat = chat.Chat;
        
        StateHasChanged();
    }
}