@page "/"
@using ExpressMessenger.BlazorWebApp.Authentication
@using ExpressMessenger.BlazorWebApp.Components.Chats
@inject ITokenManager TokenManager;

<div class="h-100 d-flex flex-column justify-content-between">
    <div>
        <h1>Привет!</h1>
        Это анонимный мессенджер, позволяющий моментально обмениваться сообщениями.
    </div>

    @if (_isUserRegistered)
    {
        <div class="text-center mt-5">
            <CreateChatModal />
        </div>
    }
    else
    {
        <div class="text-center mt-5">
            <p>Чтобы начать общение, введите желаемое имя пользователя.</p>
            <RegisterUserModal/>
        </div>
    }
    
</div>

@code {
    private bool _isUserRegistered;
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
        {
            return;
        }
        
        (bool success, string? accessToken) = await TokenManager.GetAccessToken();

        if (!success || accessToken is null)
        {
            return;
        }

        _isUserRegistered = true;
        StateHasChanged();
    }
}
